In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Goregaon_extracted.csv')

In [3]:
data

,Unnamed: 0,Society,Location,Rent,Description,Amenities,Overviews,More Details,ImpInfo,Carpet Area,Rate,BHK,Bath,Balcony,Furnished
0,0,NaN,Agari Pada,526110.0,NaN,[],['Floor39 (Out of 41 Floors)'],['Agari Pada - Western Mumbai'],['Furnished'],2769.0,190.0,3.0,4.0,NaN,1.0
1,1,Acropolis Patropolis and Heliopolis,Azad Nagar,499500.0,the flat is an 5star expat condition ready to ...,[],"['Floor3 (Out of 4 Floors)', 'Additional Rooms...","['colaba post office, Azad Nagar - Goregaon Ea...",['Unfurnished'],2700.0,185.0,4.0,4.0,2.0,0.0
2,2,Oberoi Esquire,Goregaon East,300762.0,This Luxurious property is well maintained wit...,"['Power Back Up', 'Lift', 'Swimming Pool', 'Gy...","['Floor23 (Out of 59 Floors)', 'Additional Roo...","['Goregaon East, Goregaon East - Western Mumba...",['2 Covered Parking'],2046.0,147.0,4.0,5.0,2.0,0.0
3,3,NaN,Best Nagar Goregaon West,200000.0,This property is located in Goregaon west a pr...,[],"['Floor9 (Out of 44 Floors)', 'Additional Room...","['Off Link Road, Bus Depot Near Lokhandwala Co...",['2 Covered Parking'],2000.0,100.0,4.0,4.0,1.0,0.0
4,4,Oberoi Esquire,Goregaon East,199848.0,3 BHK semifurnished apartment is available on ...,"['Power Back Up', 'Lift', 'Swimming Pool', 'Gy...","['Floor42 (Out of 51 Floors)', 'Additional Roo...","['Goregaon East, Goregaon East - Western Mumba...",['3 Covered Parking'],1514.0,132.0,3.0,5.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125,1125,Gokuldham,Film City Road,110352.0,DB WOODS very specious 3 bhk semi furnished fl...,[],"['Floor12 (Out of 45 Floors)', 'Additional Roo...","['Krishna Vatika Marg, Gokuldham Colony, Goreg...",['2 Covered Parking'],1254.0,88.0,3.0,2.0,1.0,0.0
1126,1126,Imperial Heights,Goregaon West,105000.0,its a 3.5 bhk flatRead less,"['Power Back Up', 'Lift', 'Club House', 'Swimm...","['Floor16 (Out of 44 Floors)', 'Additional Roo...","['goregoan, Goregaon West - Western Mumbai', '...",['Unfurnished'],1500.0,70.0,4.0,4.0,2.0,0.0
1127,1127,JP Decks Blue,Goregaon East,100800.0,A very good 3 bhk flat for rent in Goregaon ea...,"['Lift', 'Rain Water Harvesting', 'Swimming Po...","['Floor14 (Out of 39 Floors)', 'Additional Roo...","['jp decks blue, filmcity road Goregaon East, ...",['2 Covered Parking'],1800.0,56.0,3.0,3.0,2.0,0.0
1128,1128,Wadhwa Imperial Heights,Goregaon West,100000.0,NaN,"['Power Back Up', 'Swimming Pool', 'Park', 'Se...","['Floor20 (Out of 48 Floors)', '5 to 10 years']","['Goregaon West, Goregaon West - Western Mumbai']",['Furnished'],1250.0,80.0,3.0,3.0,NaN,1.0
1129,1129,Imperial Heights,Goregaon West,100500.0,NaN,"['Power Back Up', 'Lift', 'Club House', 'Swimm...","['Floor20 (Out of 44 Floors)', 'Additional Roo...","['goregoan, Goregaon West - Western Mumbai', '...",['Unfurnished'],1500.0,67.0,4.0,4.0,2.0,0.0

In [4]:
data = data.drop(columns=['Unnamed: 0'], axis = 1)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1130 entries, 0 to 1129
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Society       914 non-null    object
 1   Location      1129 non-null   object
 2   Rent          1127 non-null   float64
 3   Description   1002 non-null   object
 4   Amenities     1130 non-null   object
 5   Overviews     1130 non-null   object
 6   More Details  1130 non-null   object
 7   ImpInfo       1130 non-null   object
 8   Carpet Area   1127 non-null   float64
 9   Rate          1127 non-null   float64
 10  BHK           1129 non-null   float64
 11  Bath          1127 non-null   float64
 12  Balcony       613 non-null    float64
 13  Furnished     1130 non-null   float64
dtypes: float64(7), object(7)
memory usage: 123.7+ KB

In [6]:
data

,Society,Location,Rent,Description,Amenities,Overviews,More Details,ImpInfo,Carpet Area,Rate,BHK,Bath,Balcony,Furnished
0,NaN,Agari Pada,526110.0,NaN,[],['Floor39 (Out of 41 Floors)'],['Agari Pada - Western Mumbai'],['Furnished'],2769.0,190.0,3.0,4.0,NaN,1.0
1,Acropolis Patropolis and Heliopolis,Azad Nagar,499500.0,the flat is an 5star expat condition ready to ...,[],"['Floor3 (Out of 4 Floors)', 'Additional Rooms...","['colaba post office, Azad Nagar - Goregaon Ea...",['Unfurnished'],2700.0,185.0,4.0,4.0,2.0,0.0
2,Oberoi Esquire,Goregaon East,300762.0,This Luxurious property is well maintained wit...,"['Power Back Up', 'Lift', 'Swimming Pool', 'Gy...","['Floor23 (Out of 59 Floors)', 'Additional Roo...","['Goregaon East, Goregaon East - Western Mumba...",['2 Covered Parking'],2046.0,147.0,4.0,5.0,2.0,0.0
3,NaN,Best Nagar Goregaon West,200000.0,This property is located in Goregaon west a pr...,[],"['Floor9 (Out of 44 Floors)', 'Additional Room...","['Off Link Road, Bus Depot Near Lokhandwala Co...",['2 Covered Parking'],2000.0,100.0,4.0,4.0,1.0,0.0
4,Oberoi Esquire,Goregaon East,199848.0,3 BHK semifurnished apartment is available on ...,"['Power Back Up', 'Lift', 'Swimming Pool', 'Gy...","['Floor42 (Out of 51 Floors)', 'Additional Roo...","['Goregaon East, Goregaon East - Western Mumba...",['3 Covered Parking'],1514.0,132.0,3.0,5.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125,Gokuldham,Film City Road,110352.0,DB WOODS very specious 3 bhk semi furnished fl...,[],"['Floor12 (Out of 45 Floors)', 'Additional Roo...","['Krishna Vatika Marg, Gokuldham Colony, Goreg...",['2 Covered Parking'],1254.0,88.0,3.0,2.0,1.0,0.0
1126,Imperial Heights,Goregaon West,105000.0,its a 3.5 bhk flatRead less,"['Power Back Up', 'Lift', 'Club House', 'Swimm...","['Floor16 (Out of 44 Floors)', 'Additional Roo...","['goregoan, Goregaon West - Western Mumbai', '...",['Unfurnished'],1500.0,70.0,4.0,4.0,2.0,0.0
1127,JP Decks Blue,Goregaon East,100800.0,A very good 3 bhk flat for rent in Goregaon ea...,"['Lift', 'Rain Water Harvesting', 'Swimming Po...","['Floor14 (Out of 39 Floors)', 'Additional Roo...","['jp decks blue, filmcity road Goregaon East, ...",['2 Covered Parking'],1800.0,56.0,3.0,3.0,2.0,0.0
1128,Wadhwa Imperial Heights,Goregaon West,100000.0,NaN,"['Power Back Up', 'Swimming Pool', 'Park', 'Se...","['Floor20 (Out of 48 Floors)', '5 to 10 years']","['Goregaon West, Goregaon West - Western Mumbai']",['Furnished'],1250.0,80.0,3.0,3.0,NaN,1.0
1129,Imperial Heights,Goregaon West,100500.0,NaN,"['Power Back Up', 'Lift', 'Club House', 'Swimm...","['Floor20 (Out of 44 Floors)', 'Additional Roo...","['goregoan, Goregaon West - Western Mumbai', '...",['Unfurnished'],1500.0,67.0,4.0,4.0,2.0,0.0

In [7]:
data.describe()

,Rent,Carpet Area,Rate,BHK,Bath,Balcony,Furnished
count,1127.000000,1127.000000,1127.000000,1129.000000,1127.000000,613.000000,1130.000000
mean,78076.217391,917.436557,80.230701,2.333924,2.433008,1.745514,0.274779
std,57017.512146,448.026459,27.779646,0.918250,0.952090,0.812786,0.370444
min,3000.000000,100.000000,20.000000,1.000000,1.000000,1.000000,0.000000
25%,38125.000000,625.000000,63.500000,2.000000,2.000000,1.000000,0.000000
50%,60200.000000,840.000000,76.000000,2.000000,2.000000,2.000000,0.000000
75%,100500.000000,1125.000000,89.000000,3.000000,3.000000,2.000000,0.500000
max,526110.000000,3230.000000,250.000000,6.000000,6.000000,4.000000,1.000000

In [8]:
data.isnull().sum()

Society         216
Location          1
Rent              3
Description     128
Amenities         0
Overviews         0
More Details      0
ImpInfo           0
Carpet Area       3
Rate              3
BHK               1
Bath              3
Balcony         517
Furnished         0
dtype: int64

In [9]:
data = data.drop(columns =['Balcony','Description'], axis = 1)

In [10]:
data

,Society,Location,Rent,Amenities,Overviews,More Details,ImpInfo,Carpet Area,Rate,BHK,Bath,Furnished
0,NaN,Agari Pada,526110.0,[],['Floor39 (Out of 41 Floors)'],['Agari Pada - Western Mumbai'],['Furnished'],2769.0,190.0,3.0,4.0,1.0
1,Acropolis Patropolis and Heliopolis,Azad Nagar,499500.0,[],"['Floor3 (Out of 4 Floors)', 'Additional Rooms...","['colaba post office, Azad Nagar - Goregaon Ea...",['Unfurnished'],2700.0,185.0,4.0,4.0,0.0
2,Oberoi Esquire,Goregaon East,300762.0,"['Power Back Up', 'Lift', 'Swimming Pool', 'Gy...","['Floor23 (Out of 59 Floors)', 'Additional Roo...","['Goregaon East, Goregaon East - Western Mumba...",['2 Covered Parking'],2046.0,147.0,4.0,5.0,0.0
3,NaN,Best Nagar Goregaon West,200000.0,[],"['Floor9 (Out of 44 Floors)', 'Additional Room...","['Off Link Road, Bus Depot Near Lokhandwala Co...",['2 Covered Parking'],2000.0,100.0,4.0,4.0,0.0
4,Oberoi Esquire,Goregaon East,199848.0,"['Power Back Up', 'Lift', 'Swimming Pool', 'Gy...","['Floor42 (Out of 51 Floors)', 'Additional Roo...","['Goregaon East, Goregaon East - Western Mumba...",['3 Covered Parking'],1514.0,132.0,3.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1125,Gokuldham,Film City Road,110352.0,[],"['Floor12 (Out of 45 Floors)', 'Additional Roo...","['Krishna Vatika Marg, Gokuldham Colony, Goreg...",['2 Covered Parking'],1254.0,88.0,3.0,2.0,0.0
1126,Imperial Heights,Goregaon West,105000.0,"['Power Back Up', 'Lift', 'Club House', 'Swimm...","['Floor16 (Out of 44 Floors)', 'Additional Roo...","['goregoan, Goregaon West - Western Mumbai', '...",['Unfurnished'],1500.0,70.0,4.0,4.0,0.0
1127,JP Decks Blue,Goregaon East,100800.0,"['Lift', 'Rain Water Harvesting', 'Swimming Po...","['Floor14 (Out of 39 Floors)', 'Additional Roo...","['jp decks blue, filmcity road Goregaon East, ...",['2 Covered Parking'],1800.0,56.0,3.0,3.0,0.0
1128,Wadhwa Imperial Heights,Goregaon West,100000.0,"['Power Back Up', 'Swimming Pool', 'Park', 'Se...","['Floor20 (Out of 48 Floors)', '5 to 10 years']","['Goregaon West, Goregaon West - Western Mumbai']",['Furnished'],1250.0,80.0,3.0,3.0,1.0
1129,Imperial Heights,Goregaon West,100500.0,"['Power Back Up', 'Lift', 'Club House', 'Swimm...","['Floor20 (Out of 44 Floors)', 'Additional Roo...","['goregoan, Goregaon West - Western Mumbai', '...",['Unfurnished'],1500.0,67.0,4.0,4.0,0.0

In [11]:
data['Society'].value_counts()

 Oberoi Esquire                        65
 DB Woods                              60
 Lodha Fiorenza                        49
 JP Decks Blue                         42
 Royal Palms                           31
                                       ..
 Wadhwa Imperial Altitude               1
 Sukhniwas                              1
 Bhattad Augustine                      1
 Gurukrupa Apartments                   1
Acropolis Patropolis and Heliopolis     1
Name: Society, Length: 147, dtype: int64

In [12]:
data['Society'] = data['Society'].apply(lambda x: str(x).strip())
society_count = data['Society'].value_counts()

In [13]:
society_count

nan                       216
Oberoi Esquire             79
DB Woods                   65
Lodha Fiorenza             49
JP Decks Blue              42
                         ...
Apna Ghar                   1
Karwa Kairali               1
Crystal Isle Apartment      1
GSA Grandeur                1
Sai Sagar Tower             1
Name: Society, Length: 143, dtype: int64

In [14]:
society_count_nan = society_count[society_count > 100]
society_count_nan

nan    216
Name: Society, dtype: int64

In [15]:
data['Society'] = data['Society'].apply(lambda x: 'Other' if x in society_count_nan else x)
data['Society'] = data['Society'].apply(lambda x: x.upper())

In [16]:
data['Location'] = data['Location'].apply(lambda x: str(x).strip())
data['Location'] = data['Location'].apply(lambda x: x.upper())

In [17]:
power = []
for li in data['Amenities']:
    if 'Power Back Up' in li:
        power.append(1)
    else:
        power.append(0)

In [18]:
data['Power Back Up'] = power

In [19]:
data['Amenities'] = data['Amenities'].apply(lambda x: x.replace("'Power Back Up',",""))

In [20]:
lift = []
for li in data['Amenities']:
    if 'Lift' in li:
        lift.append(1)
    else:
        lift.append(0)
data['Lift'] = lift
data['Amenities'] = data['Amenities'].apply(lambda x: x.replace("'Lift'",""))

In [21]:
data['Amenities'] = data['Amenities'].apply(lambda x: x.replace(","," "))

In [22]:
data['Amenities'] = data['Amenities'].apply(lambda x: x.replace("]",""))

In [23]:
data['Amenities'] = data['Amenities'].apply(lambda x: x.strip())
data['Amenities']

0                                                       [
1                                                       [
2       [   'Swimming Pool'  'Gymnasium'  'Reserved Pa...
3                                                       [
4       [   'Swimming Pool'  'Gymnasium'  'Reserved Pa...
                              ...
1125                                                    [
1126    [   'Club House'  'Swimming Pool'  'Gymnasium'...
1127    [  'Rain Water Harvesting'  'Swimming Pool'  '...
1128    [ 'Swimming Pool'  'Park'  'Security'  'Flower...
1129    [   'Club House'  'Swimming Pool'  'Gymnasium'...
Name: Amenities, Length: 1130, dtype: object

In [24]:
Swim = []
for li in data['Amenities']:
    if 'Swimming Pool' in li:
        Swim.append(1)
    else:
        Swim.append(0)
data['Swimming Pool'] = Swim
data['Amenities'] = data['Amenities'].apply(lambda x: x.replace("'Swimming Pool'",""))
data['Amenities'] = data['Amenities'].apply(lambda x: x.strip())

In [25]:
gym = []
for li in data['Amenities']:
    if 'Gymnasium' in li:
        gym.append(1)
    else:
        gym.append(0)
data['Gym'] = gym
data['Amenities'] = data['Amenities'].apply(lambda x: x.replace("'Gymnasium'",""))
data['Amenities'] = data['Amenities'].apply(lambda x: x.strip())

In [26]:
data['ImpInfo'].value_counts()

['1 Covered Parking']                               251
['2 Covered Parking']                               151
['Unfurnished']                                     150
['Semi-Furnished']                                  117
['Furnished']                                        99
['1 Covered Parking', 'Semi-Furnished']              88
['1Bath', 'Unfurnished']                             58
['1Bath', 'Semi-Furnished']                          37
['2 Covered Parking', 'Semi-Furnished']              36
['1Bath', 'Furnished']                               33
['1 Covered Parking', 'Unfurnished']                 33
['1 Covered Parking', 'Furnished']                   32
['1Bath', '1 Covered Parking']                       13
['3 Covered Parking']                                11
['2 Covered Parking', 'Furnished']                    5
['2 Covered Parking', 'Unfurnished']                  3
[]                                                    3
['1Bath', '1 Covered Parking', 'Unfurnished']         3
['3 Covered Parking', 'Semi-Furnished']               2
['170 Covered Parking']                               1
['3 Covered Parking', 'Unfurnished']                  1
['408 Covered Parking']                               1
['1Bath', '1 Covered Parking', 'Semi-Furnished']      1
['1Bath', '1 Covered Parking', 'Furnished']           1
Name: ImpInfo, dtype: int64

In [27]:
data['ImpInfo'] = data['ImpInfo'].apply(lambda x: x.replace("[",""))
data['ImpInfo'] = data['ImpInfo'].apply(lambda x: x.replace("]",""))
data['ImpInfo'] = data['ImpInfo'].apply(lambda x: x.replace("1Bath",""))
data['ImpInfo'] = data['ImpInfo'].apply(lambda x: x.replace("'Semi-Furnished'",""))
data['ImpInfo'] = data['ImpInfo'].apply(lambda x: x.replace("'Unfurnished'",""))
data['ImpInfo'] = data['ImpInfo'].apply(lambda x: x.replace("'Furnished'",""))
data['ImpInfo'] = data['ImpInfo'].apply(lambda x: x.replace("'",""))
data['ImpInfo'] = data['ImpInfo'].apply(lambda x: x.strip())

In [28]:
data['ImpInfo'] = data['ImpInfo'].apply(lambda x: x.replace(",",""))

In [29]:
data = data.drop(columns =['Amenities','Overviews','More Details','ImpInfo'], axis = 1)

In [30]:
data['Society'] = data['Society'].apply(lambda x: x.split())

In [31]:
data['Location'] = data['Location'].apply(lambda x: x.split())
data['Loc'] = data['Society'] + data['Location']
data['Loc'] = data['Loc'].apply(lambda x: " ".join(x))

In [32]:
data['Loc'].value_counts()

OTHER GOREGAON EAST                     73
OBEROI ESQUIRE GOREGAON EAST            67
OTHER GOREGAON WEST                     52
LODHA FIORENZA GOREGAON EAST            45
DB WOODS GOKULDHAM                      40
                                        ..
SUKHNIWAS GOREGAON WEST                  1
OTHER SHRI NAGAR                         1
SHRI GANESH APARTMENTS GOREGAON WEST     1
SKY VILLA GOKULDHAM                      1
SAI SAGAR TOWER SAI BABA COMPLEX         1
Name: Loc, Length: 286, dtype: int64

In [33]:
loc_count = data['Loc'].value_counts()

In [34]:
loc_count

OTHER GOREGAON EAST                     73
OBEROI ESQUIRE GOREGAON EAST            67
OTHER GOREGAON WEST                     52
LODHA FIORENZA GOREGAON EAST            45
DB WOODS GOKULDHAM                      40
                                        ..
SUKHNIWAS GOREGAON WEST                  1
OTHER SHRI NAGAR                         1
SHRI GANESH APARTMENTS GOREGAON WEST     1
SKY VILLA GOKULDHAM                      1
SAI SAGAR TOWER SAI BABA COMPLEX         1
Name: Loc, Length: 286, dtype: int64

In [35]:
loc_count = loc_count[loc_count < 5]
loc_count

SUCHIDHAM COMPLEX GOREGAON EAST         4
DB WOODS FILM CITY ROAD                 4
SUMMIT APARTMENT AAREY MILK COLONY      4
GARDEN VIEW APARTMENT GOREGAON EAST     4
OBEROI EXQUISITE II GOREGAON EAST       4
                                       ..
SUKHNIWAS GOREGAON WEST                 1
OTHER SHRI NAGAR                        1
SHRI GANESH APARTMENTS GOREGAON WEST    1
SKY VILLA GOKULDHAM                     1
SAI SAGAR TOWER SAI BABA COMPLEX        1
Name: Loc, Length: 234, dtype: int64

In [36]:
data['Society'] = data['Society'].apply(lambda x: " ".join(x))
data['Location'] = data['Location'].apply(lambda x: " ".join(x))

In [37]:
data

,Society,Location,Rent,Carpet Area,Rate,BHK,Bath,Furnished,Power Back Up,Lift,Swimming Pool,Gym,Loc
0,OTHER,AGARI PADA,526110.0,2769.0,190.0,3.0,4.0,1.0,0,0,0,0,OTHER AGARI PADA
1,ACROPOLIS PATROPOLIS AND HELIOPOLIS,AZAD NAGAR,499500.0,2700.0,185.0,4.0,4.0,0.0,0,0,0,0,ACROPOLIS PATROPOLIS AND HELIOPOLIS AZAD NAGAR
2,OBEROI ESQUIRE,GOREGAON EAST,300762.0,2046.0,147.0,4.0,5.0,0.0,1,1,1,1,OBEROI ESQUIRE GOREGAON EAST
3,OTHER,BEST NAGAR GOREGAON WEST,200000.0,2000.0,100.0,4.0,4.0,0.0,0,0,0,0,OTHER BEST NAGAR GOREGAON WEST
4,OBEROI ESQUIRE,GOREGAON EAST,199848.0,1514.0,132.0,3.0,5.0,0.0,1,1,1,1,OBEROI ESQUIRE GOREGAON EAST
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125,GOKULDHAM,FILM CITY ROAD,110352.0,1254.0,88.0,3.0,2.0,0.0,0,0,0,0,GOKULDHAM FILM CITY ROAD
1126,IMPERIAL HEIGHTS,GOREGAON WEST,105000.0,1500.0,70.0,4.0,4.0,0.0,1,1,1,1,IMPERIAL HEIGHTS GOREGAON WEST
1127,JP DECKS BLUE,GOREGAON EAST,100800.0,1800.0,56.0,3.0,3.0,0.0,0,1,1,1,JP DECKS BLUE GOREGAON EAST
1128,WADHWA IMPERIAL HEIGHTS,GOREGAON WEST,100000.0,1250.0,80.0,3.0,3.0,1.0,1,0,1,0,WADHWA IMPERIAL HEIGHTS GOREGAON WEST
1129,IMPERIAL HEIGHTS,GOREGAON WEST,100500.0,1500.0,67.0,4.0,4.0,0.0,1,1,1,1,IMPERIAL HEIGHTS GOREGAON WEST

In [38]:
data.isnull().sum()

Society          0
Location         0
Rent             3
Carpet Area      3
Rate             3
BHK              1
Bath             3
Furnished        0
Power Back Up    0
Lift             0
Swimming Pool    0
Gym              0
Loc              0
dtype: int64

In [39]:
data = data.dropna()

In [40]:
data.isnull().sum()

Society          0
Location         0
Rent             0
Carpet Area      0
Rate             0
BHK              0
Bath             0
Furnished        0
Power Back Up    0
Lift             0
Swimming Pool    0
Gym              0
Loc              0
dtype: int64

In [41]:
data.to_csv('Cleaned_goregaon.csv')

In [42]:
data = data.drop(columns = ['Society','Rate','Location'])

In [43]:
data

,Rent,Carpet Area,BHK,Bath,Furnished,Power Back Up,Lift,Swimming Pool,Gym,Loc
0,526110.0,2769.0,3.0,4.0,1.0,0,0,0,0,OTHER AGARI PADA
1,499500.0,2700.0,4.0,4.0,0.0,0,0,0,0,ACROPOLIS PATROPOLIS AND HELIOPOLIS AZAD NAGAR
2,300762.0,2046.0,4.0,5.0,0.0,1,1,1,1,OBEROI ESQUIRE GOREGAON EAST
3,200000.0,2000.0,4.0,4.0,0.0,0,0,0,0,OTHER BEST NAGAR GOREGAON WEST
4,199848.0,1514.0,3.0,5.0,0.0,1,1,1,1,OBEROI ESQUIRE GOREGAON EAST
...,...,...,...,...,...,...,...,...,...,...
1125,110352.0,1254.0,3.0,2.0,0.0,0,0,0,0,GOKULDHAM FILM CITY ROAD
1126,105000.0,1500.0,4.0,4.0,0.0,1,1,1,1,IMPERIAL HEIGHTS GOREGAON WEST
1127,100800.0,1800.0,3.0,3.0,0.0,0,1,1,1,JP DECKS BLUE GOREGAON EAST
1128,100000.0,1250.0,3.0,3.0,1.0,1,0,1,0,WADHWA IMPERIAL HEIGHTS GOREGAON WEST
1129,100500.0,1500.0,4.0,4.0,0.0,1,1,1,1,IMPERIAL HEIGHTS GOREGAON WEST

In [44]:
x = data.drop(columns =['Rent'])
y = data['Rent']

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [46]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [47]:
print(x_train.shape)
print(x_test.shape)

(900, 9)
(225, 9)

In [48]:
column_trans = make_column_transformer((OneHotEncoder(sparse = False,handle_unknown='ignore'), ['Loc']), remainder = 'passthrough')

In [49]:
scaler = StandardScaler()

In [50]:
lr = LinearRegression()

In [51]:
pipe = make_pipeline(column_trans, scaler, lr)

In [52]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  ['Loc'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [53]:
y_pred_lr = pipe.predict(x_test)

In [54]:
r2_score(y_test, y_pred_lr)

-2.086616254254266e+25

In [55]:
lasso = Lasso()

In [56]:
pipe = make_pipeline(column_trans, scaler,lasso)

In [57]:
pipe.fit(x_train,y_train)

C:\Users\HITS\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.923e+10, tolerance: 2.743e+08
  model = cd_fast.enet_coordinate_descent(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  ['Loc'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [58]:
y_pred_lasso = pipe.predict(x_test)

In [59]:
r2_score(y_test, y_pred_lasso)

0.756314756752249

In [60]:
ridge = Ridge()
pipe = make_pipeline(column_trans, scaler,ridge)
pipe.fit(x_train,y_train)
y_pred_ridge = pipe.predict(x_test)

In [61]:
r2_score(y_test, y_pred_ridge)

0.7522253906250526

In [62]:
lasso = Lasso()
pipe = make_pipeline(column_trans, scaler, lasso)
pipe.fit(x_train,y_train)
y_pred_ridge = pipe.predict(x_test)

C:\Users\HITS\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.923e+10, tolerance: 2.743e+08
  model = cd_fast.enet_coordinate_descent(

In [63]:
r2_score(y_test, y_pred_lasso)

0.756314756752249

In [64]:
import pickle

In [65]:
pickle.dump(pipe, open('LassoModel.pkl', 'wb'))

In [66]:
location = "OTHER GOREGAON EAST"
sqft = 1320
bhk = 2
bath = 2
furni = 1
powe = 1
lift = 1
swim = 1
gym = 0
da = pd.DataFrame([[location, sqft, bhk,bath,furni,powe,lift,swim,gym]],columns = ['Loc','Carpet Area','BHK','Bath','Furnished','Power Back Up','Lift','Swimming Pool','Gym'])

In [67]:
da

,Loc,Carpet Area,BHK,Bath,Furnished,Power Back Up,Lift,Swimming Pool,Gym
0,OTHER GOREGAON EAST,1320,2,2,1,1,1,1,0

In [68]:
prediction = pipe.predict(da)[0]

In [69]:
prediction

73270.1596244